<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace에 연결할 Mapper 인터페이스의 패키지명.인터페이스명 작성
	> Mapper 인터페이스에 있는 메서드 호출 시, 해당 xml 파일에 작성된 태그 중 메서드명과 동일한 id를 가진 sql 수행  -->
<mapper namespace="edu.kh.project.board.model.mapper.BoardMapper">

	<!-- 게시판 종류 조회 -->
	<select id="selectBoardTypeList">
		SELECT BOARD_CODE "boardCode", BOARD_NAME "boardName"
		FROM "BOARD_TYPE"
		ORDER BY BOARD_CODE
	</select>
	
	<!-- 게시글 수 조회 -->
	<select id = "getListCount">
		SELECT COUNT(*)
		FROM "BOARD"
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = #{boardCode}
	</select>
</mapper>